.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  font-family: sans-serif;
  padding: 5% 20%;
}
h1 {
  color: red;
  font-size: 28px;
}

div > .foo {
  font-weight: normal;
}

.foo {
  font-weight: bold;
}

li {
  text-align: left;
  padding: 4px;
  border-radius: 4px;
  margin-top: 4px;
}
li.on {
  background: rgb(255, 147, 128);
}
